name: Main

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0"

concurrency:
  group: ${{ github.ref == 'refs/heads/main' && format('ignore-main-{0}', github.run_id) || format('{0}-{1}', github.workflow, github.ref_name) }}
  cancel-in-progress: true

jobs:
  lint-report:
    uses: canonical/identity-credentials-workflows/.github/workflows/lint-report.yaml@v0

  static-analysis:
    uses: canonical/identity-credentials-workflows/.github/workflows/static-analysis.yaml@v0

  unit-tests-with-coverage:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install uv
        run: sudo snap install --classic astral-uv

      - name: Install tox
        run: uv tool install tox --with tox-uv

      - name: Run tests using tox
        run: tox -e unit

  unit-tests-with-coverage-pydantic-v1:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install uv
        run: sudo snap install --classic astral-uv

      - name: Install tox
        run: uv tool install tox --with tox-uv

      - name: Run tests using tox
        run: tox -e unit-pydantic-v1

  build:
    name: Build charm
    runs-on: ubuntu-24.04
    needs:
      - unit-tests-with-coverage
      - lint-report
      - static-analysis
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable
      - name: Install charmcraft
        run: sudo snap install charmcraft --classic
      - name: Build charm
        run: charmcraft pack --verbose
      - name: Archive Charm Under Test
        uses: actions/upload-artifact@v5
        with:
          name: built-charm
          path: "*.charm"
          retention-days: 5

  charmhub-upload:
    name: Charmub upload lib
    runs-on: ubuntu-24.04
    needs:
      - lint-report
      - static-analysis
      - unit-tests-with-coverage
      - build
    if: ${{ github.ref_name == 'main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable

      - uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: "${{ secrets.CHARMCRAFT_AUTH }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "edge"
          upload-image: "false"
          destructive-mode: "false"

      - name: Publish libs
        env:
          CHARMCRAFT_AUTH: "${{ secrets.CHARMCRAFT_AUTH }}"
        run: |
          charmcraft publish-lib charms.certificate_transfer_interface.v0.certificate_transfer

      - name: Publish libs
        env:
          CHARMCRAFT_AUTH: "${{ secrets.CHARMCRAFT_AUTH }}"
        run: |
          charmcraft publish-lib charms.certificate_transfer_interface.v1.certificate_transfer
